*{
    margin: 0;
    padding: 0;
    /* 边框往里走 */
    box-sizing: border-box;
}

/* 头部 start*/
#header{
    height: 33px;

    border-bottom: 1px solid #ebebeb;
}

#header a{
    height: 33px;
    color: #555555;
    font-size: 13px;
    margin-left: 8px;
}
#header .header-left{
    float: left;
    height: 33px;
    line-height: 33px;
    width: 270px;

}

#header .header-right{
    float: right;
}
#header .header-right a{
    height: 33px;
    line-height: 33px;
    font-weight: bolder;

}
#header .header-right a.more-product{
    display: inline-block;
    text-decoration: none;
    background-color: #398bfb;
    width: 86px;
    color: #fff;
    text-align: center;
    vertical-align: top;
}
/* 头部 end */




/* 搜索 start*/
#content{

    /*height: 130px;*/
    /*background-color: green;*/
    width: 641px;
    height:189px;
    margin: 0 auto;
    margin-top: 20px;
}
#content .logo{
    text-align: center;
}

#content .logo img{
    height: 112px;
}
#content .search{
    text-align: center;
}

#content .search .search-input{
    width: 536px;
    height: 44px;
    border: none;
    float: left;
    outline: none;
    border: 1px solid #e0e0e0;
}
#content .search .search-submit{
    width:105px;
    height: 44px;
    border: none;
    background-color: #398bfb;
    color: #FFF;
    font-size: 16px;
    float: left;
    outline: none;
}

/* 搜索 end */


/* 列表 start*/
#list{
    height: 230px;
    background-color: red;

}


/* 列表 end */

